@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background: rgb(230, 225, 225);
}

.container{
    width: 1120px;
    margin: auto;
}

nav{
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: #101010;
    text-transform: uppercase;
    font-weight: 700;
}

.header_banner{
    position: relative;
}

.header_banner_apple_icon{
    position: absolute;
    right: 150px;
    bottom: 10px;
}

.header__banner_img{
    width: 100%;
    left: 50px; 
}

.card{
    width: 350px;
    border-radius: 30px;
    text-align: center;
    padding-top: 25px;
    background: white;
    padding-bottom: 25px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 5px 5px 5px 1px gray;
}

.title{
    padding-top: 20px;
    font-size: 17px;
    font-weight: 600;
}

section{
    margin-top: 88px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
